body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px; /* 内容不被header擋到 */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(82, 90, 211, 0.5); /* 半透明底色 */
  padding: 4px 32px; /* header 內部的 padding: 上下 4px, 左右 32px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.icon {
  /* 圖標樣式*/
  font-size: 30px; /* 圖標大小 */
  color: #333; /* 圖標顏色*/
  float: left;
  white-space: nowrap;
}

.text {
  /* 文字樣式 */
  font-size: 16px; /* 文字大小 */
  color: #333;
  margin-right: 100px; /* 文字顏色 */
  text-align: left;
  float: left;
  white-space: nowrap;
  margin-left: auto;
}



@media screen and (max-width: 768px) {
  /* 平板 */
  .icon {
    font-size: 20px; /* 圖標大小 */
    white-space: nowrap;
  }
  .text {
    font-size: 14px; /* 文字大小 */
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) {
  /* 手機*/
  .icon {
    font-size: 16px; /* 圖標大小 */
    white-space: nowrap;
  }
  .text {
    font-size: 10px; /* 文字大小*/
    white-space: nowrap;
  }
}
