
body {
    margin: 0;
    font-family: "LXGW WenKai TC", cursive;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: 100vh;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal {
    background-color: white;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.product {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product img {
    width: 40%;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.product-info span {
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .modal {
        width: 90%;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}
