body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    padding-top: 60px; /* 確保內容不會被header遮擋 */
}

header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 48px;
    background-color: rgba(82, 90, 211, 0.5); /* 半透明底色 */
    padding: 4px 32px; /* header 內部的 padding: 上下 4px, 左右 32px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.icon img {
    height: 30px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav-item {
    /* 文字樣式 */
    font-size: 16px; /* 文字大小 */
    color: #333;
    text-align: left;
    white-space: nowrap;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center; /* 讓裡面的元素水平置中 */
    height: 36px; /* 設定容器的高度 */
    line-height: 36px; /* 讓文字垂直置中 */
}

picture {
    margin-right: 10px;
}

main {
    padding-top: 56px;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(82, 90, 211, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.5s ease;
}

.overlay.extand {
    display: flex;
    transform: scale(300);
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; /* 初始隱藏 */
    transition: opacity 0.5s ease;
}

.mobile-menu.extand {
    opacity: 1; /* 顯示 */
}

.mobile-menu .nav-item {
    margin: 20px 0;
    font-size: 24px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .desktop-menu {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .desktop-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
